body{
background-image:url(sfondo3.webp);
width:100%;
height: 100%;
background-size:100% 100% ;
text-align: center;
color:blue;
background-position: center;
background-repeat: no-repeat;
}
.contenitore{
    background-color: rgba(0, 0, 0, 0,5);
    display: flex;
    flex-wrap: nowrap;
   max-width: 500px;
   max-height: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0,4);
}
.testo{
font-size: 24px;
line-height: 1.5;
color: white;
}
.foto {
width: 500px;
justify-self: center;
height: auto;
display: block;
}